%h4 Recipes this week
%table
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to recipe.title, recipe
        %td= recipe.short_desc
        - recipe.products.each do |product|
          %td= product.name
        %td= calculate_cost(recipe) 
        - if @panier
          %td= link_to "Add", add_to_panier_path(id: recipe.id)
        - if current_user.try(:admin?)
          %td= link_to 'X', recipe, method: :delete, data: { confirm: 'Are you sure?' }

%br/
%br/
- if current_user.try(:admin?)
  = link_to "New recipe", new_recipe_path
- if params[:show_all] == 'true'
  = link_to "Undo", url_for(params.merge(:show_all => false))
-else 
  = link_to "Show all", url_for(params.merge(:show_all => true))
