%h4 Recipes this week
%table
  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= link_to recipe.title, recipe
        %td= recipe.short_desc
        - recipe.products.each do |product|
          %td= product.name
        - if @panier
          %td= link_to "Add", add_to_panier_path(id: recipe.id)
        - if current_user.try(:admin?)
          %td= link_to 'X', recipe, method: :delete, data: { confirm: 'Are you sure?' }

%br/
%br/
- if current_user.try(:admin?)
  = link_to "New recipe", new_recipe_path

- @recipes_missing_ingredients.each do |r|
  = r.id