%p#notice= notice
%p
  %strong Title:
  = @recipe.title
%p
  = @recipe.short_desc
%p
  %strong Instructions:
  = @recipe.instructions

%p
  %strong Ingredients:
  - @recipe.ingredients.each do |ingredient|
    = ingredient.product.name
%p
  %strong Cost:
  = recipe_cost(@recipe)


= link_to 'Edit', edit_recipe_path(@recipe)
|
\#{link_to 'Back', recipes_path}
